.page404{
    padding:40px 0; 
    background:#fff; 
    font-family: 'Arvo', serif;
    text-align: center;
}

 .page404  img{
    width:100%;
 }

.fourZeroFourBg{
    background-image: url(../images/404.gif);
    
    height: 400px;
    background-position: center;
    background-size: auto;
 }
 
 
 .fourZeroFourBg h1{
    font-size:100px;
 }
 
 .fourZeroFourBg h3{
    font-size:80px;
 }

.h2{
    font-size: 30px;
}
			 
.link404{			 
	color: #fff!important;
    font-size: 25px;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
}

.contantBox404{
    margin-top:-50px;
}